*.out
glew-2.1.0/
glfw-3.3.9/
glm-0.9.9.8/
cuda-samples/
*.env
*.vscode
*.idea/

# Don't upload images, objs, and massive ncu files
*.png
*.jpg
*.obj
*.mtl
*.wav
*.mp4
*.mp3
*.ncu-rep

extra/
build/
out/
.vs/
*.zip
*.tar.gz
linux/
win32/

assignments/handin/
submissions/

main
